<div *ngIf="orders$ | async as orders">
  <nz-table #basicTable [nzData]="orders">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Side</th>
        <th>Position Size</th>
        <th>Avg Open Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of basicTable.data as Order">
        <td>{{ order.symbol }}</td>
        <td>
          <nz-tag
            *ngIf="order.side === Side.buy; else sellTag"
            [nzColor]="'green'"
          >
            {{ order.side }}
          </nz-tag>
          <ng-template #sellTag>
            <nz-tag [nzColor]="'red'">
              {{ order.side }}
            </nz-tag>
          </ng-template>
        </td>
        <td>{{ order.size  | number: "0.0001" }}</td>
        <td>{{ order.price | currency }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
