<app-symbol-header></app-symbol-header>

<nz-divider style="margin: 0"></nz-divider>

<div nz-row>
  <div nz-col nzSpan="24">
    <app-order-form></app-order-form>
  </div>
  <div nz-col nzSpan="24">
    <!-- orderbook here -->
  </div>

  <div nz-col nzSpan="24">
    <nz-tabset style="padding: 16px">
      <nz-tab nzTitle="持倉(0)">
        <app-position-list></app-position-list>
      </nz-tab>
      <nz-tab nzTitle="訂單(0)">
        <app-position-list></app-position-list>
      </nz-tab>
      <nz-tab nzTitle="平倉(0)">
        <app-position-list></app-position-list>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
