<div *ngIf="orders$ | async as orders">
  <nz-table
    #basicTable
    [nzData]="orders"
    nzSize="small"
    [nzScroll]="{ x: '768px' }"
  >
    <thead>
      <tr>
        <th>市場</th>
        <th>交易方向</th>
        <th>類型</th>
        <th>持倉量</th>
        <th>開倉持倉均價</th>
        <th>止盈價</th>
        <th>止損價</th>
        <th>盈虧</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of basicTable.data as Order">
        <td>{{ order.symbol }}</td>
        <td>
          <nz-tag [nzColor]="order.side === Side.buy ? 'green' : 'red'">
            {{ order.side === Side.buy ? "做多" : "做空" }}
          </nz-tag>
        </td>
        <td>限價單</td>
        <td>{{ order.size | number: "0.0001" }} ETH</td>
        <td>{{ order.price | currency }}</td>
        <td>{{ order.take_profit_price | currency }}</td>
        <td>{{ order.stop_loss_price | currency }}</td>
        <td
          nz-typography
          [nzType]="order.position_pnl >= 0 ? 'success' : 'danger'"
        >
          {{ order.position_pnl | currency }}
          <code>{{ order.position_pnlr }}</code>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
