<p-table
  [value]="markets$ | async"
  responsiveLayout="scroll"
  styleClass="p-datatable-gridlines"
>
  <ng-template pTemplate="caption">Market</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Symbol</th>
      <th>Market Price</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-market>
    <tr>
      <td>
        <img [src]="getSymbolIcon(market[0])" width="18px" /> {{ market[0] }}
      </td>
      <td>{{ market[1] | currency }}</td>
    </tr>
  </ng-template>
</p-table>

<br />

<p-table
  [value]="positions$ | async"
  responsiveLayout="scroll"
  styleClass="p-datatable-gridlines"
>
  <ng-template pTemplate="caption">Position</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Date</th>
      <th>Symbol</th>
      <th>Side</th>
      <th>Position Size</th>
      <th>National Size</th>
      <th>Market Price</th>
      <th>PnL</th>
      <th>PnL(%)</th>
      <th>Avg Open Price</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-position>
    <tr>
      <td>{{ position.order.fill_date | date: "short" }}</td>
      <td>
        <img [src]="getSymbolIcon(position.order.symbol)" width="18px" />
        {{ position.order.symbol }}
      </td>
      <td>
        <p-tag
          *ngIf="position.order.side === Side.buy; else sellTag"
          severity="success"
        >
          {{ position.order.side }}
        </p-tag>
        <ng-template #sellTag>
          <p-tag severity="danger">
            {{ position.order.side }}
          </p-tag>
        </ng-template>
      </td>
      <td>{{ position.order.size }}</td>
      <td>{{ position.order.size * position.market_price | currency }}</td>
      <td>{{ position.market_price | currency }}</td>
      <td>{{ position.pnl | currency }}</td>
      <td severity="danger">{{ position.pnlr }}</td>
      <td>{{ position.order.price | currency }}</td>
    </tr>
  </ng-template>
</p-table>

<br />

<p-table
  [value]="unfilledOrders$ | async"
  responsiveLayout="scroll"
  styleClass="p-datatable-gridlines"
>
  <ng-template pTemplate="caption">Unfilled Orders</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Order Date</th>
      <th>Symbol</th>
      <th>Side</th>
      <th>Position Size</th>
      <!-- <th>National Size</th> -->
      <!-- <th>Market Price</th>
      <th>PnL</th>
      <th>PnL(%)</th> -->
      <th>Avg Open Price</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{ order.post_date | date: "short" }}</td>
      <td>
        <img [src]="getSymbolIcon(order.symbol)" width="18px" />
        {{ order.symbol }}
      </td>
      <td>
        <p-tag *ngIf="order.side === Side.buy; else sellTag" severity="success">
          {{ order.side }}
        </p-tag>
        <ng-template #sellTag>
          <p-tag severity="danger">
            {{ order.side }}
          </p-tag>
        </ng-template>
      </td>
      <td>{{ order.size }}</td>
      <!-- <td>{{ order.size * market_price | number }}</td> -->
      <!-- <td>{{ market_price }}</td> -->
      <!-- <td>{{ pnl }}</td> -->
      <!-- <td severity="danger">{{ pnlr }}</td> -->
      <td>{{ order.price | currency }}</td>
    </tr>
  </ng-template>
</p-table>
