<app-symbol-header></app-symbol-header>

<nz-divider style="margin: 0"></nz-divider>

<div nz-row>
  <div nz-col nzSpan="14">
    <app-order-form></app-order-form>
  </div>
  <div nz-col nzSpan="10">
    <app-orderbook></app-orderbook>
  </div>

  <div nz-col nzSpan="24" *ngIf="countForTabs$ | async as cft">
    <nz-tabset style="padding: 16px">
      <nz-tab nzTitle="持倉({{ cft.position_count }})">
        <app-position-list></app-position-list>
      </nz-tab>
      <nz-tab nzTitle="訂單({{ cft.order_count }})">
        <app-order-list></app-order-list>
      </nz-tab>
      <nz-tab nzTitle="平倉({{ cft.closed_position_count }})">
        <app-closed-position-list></app-closed-position-list>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
